<br />
<div class="hero-unit">
  <h1>Gifsearch</h1>
  <h2>Find all the best GIFs Tumblr has to offer!</h2>

  <br />
  <div class="pull-left">

    <%= form_tag('/search', class: 'form-inline') do -%>
       <%=  text_field_tag 'query', nil, placeholder: 'Search for a GIF!', maxlength: 100, class: 'span5' %>
       <%=  submit_tag 'Go!' %>
    <% end -%>


  </div>


</div>